
@model LireEnLigne.Views.User.RegisterModel
@{
}

<head>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
		</div>
		<div class="row justify-content-center">
			<div class="col-md-7 col-lg-5">
				<div class="login-wrap p-4 p-md-5">
					<div class="icon d-flex align-items-center bg-dark justify-content-center">
						<span class="fa fa-user-o"></span>
					</div>
					<h3 class="text-center mb-4">Créer un nouveau compte</h3>
					<form action="/User/Register" class="login-form" method="post" role="form">
						<div class="form-group">
							<label for="Nom">Nom</label>
							<input type="text" class="form-control rounded-left" asp-for="Nom" required>
						</div>
						
							<div class="form-group">
								<label for="Prenom">Prénom</label>
								<input type="text" class="form-control rounded-left" asp-for="Prenom" required>
							</div>
							<div class="form-group">
								<label for="phone">Numéro de téléphone</label>
								<input type="text" class="form-control rounded-left" asp-for="NumeroTelephone" required>
							</div>
						<div class="form-group">
							<label for="Adresse">Adresse</label>
							<input type="text" class="form-control rounded-left" asp-for="Adresse" required>
						</div>

						<div class="form-group">
							<label for="Email">Email</label>
							<input type="email" class="form-control rounded-left" asp-for="Email" required>
						</div>
						<div class="form-group ">
							<label for="exampleInputEmail1">Mot de passe</label>
							<input type="password" class="form-control rounded-left" asp-for="Password" required>
						</div>
						<div class="form-group">
							<button type="submit" class="form-control btn btn-dark bg-dark rounded submit px-3" style="color:white;">S'enregistrer</button>
							<!--<input type="button" class="form-control btn btn-primary rounded submit px-3" value="Se connecter" onclick="location.href='@Url.Action("OnLogin", "UserController")'" />-->
						</div>
						<div class="form-group ">

							<div class="text-md-left">
								<p>Vous avez déjà un compte? <a href="/user/login">Se connecter</a></p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
