
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @model List<LireEnLigne.Models.Livre>

            <!-- Your CatLivre view content here -->
            
                @if (Model != null && Model.Any())
                {
                    @foreach (var livre in Model)
                    {
                        <div class="col-mb-3">
                            <div class="card h-100" style="margin-top:20px;">
                                <!-- image-->
                                @if (livre.Image != null && livre.Image.Length > 0)
                                {
                                <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(livre.Image)" alt="Book Image" />
                                }
                                else
                                {
                                    <p>Image not available.</p>
                                }
                                <!-- details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- name-->
                                        <h5 class="fw-bolder">@livre.Titre</h5>
                                    </div>
                                </div>
                                <!-- actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto"
                                           asp-area=""
                                           asp-controller="Home"
                                           asp-action="Aproposdecelivre"
                                           asp-route-id="@livre.LivreID">À propos de ce livre</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No books found for the selected genre.</p>
                }
            </div>
    </div>
  
</section>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

