<div class="alert alert-success" role="alert">
    Votre réservation est effectuée avec succès
    <a  class="btn btn-outline-dark flex-shrink-0" type="submit" style="float:right;" asp-controller="Home" asp-action="Index">
        <i class="bi-cart-fill me-1"></i>
        Terminer
    </a>
</div>
